
<div class="container">
    <div class="row">
      <div class="col-md-6 mt-5 mx-auto">
        <form (submit)="reset()">

          <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
          <div class="form-group">
            <label >Email address</label>
            <input [(ngModel)]="user.email" class="form-control" name="email"  placeholder="Enter email"
                   type="email">
          </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block">Send the Link</button>
        </form>
      </div>
    </div>
  </div>
