<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">WELCOME</h1>
      </div>
    </div>
  </div>
<div class="container">
  <div *ngIf="auth.isLoggedIn()">

    <article  *ngFor="let post of post" class="media content-section">
        <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pic/' + post.author.image_file) }}"> -->
        <div class="media-body" id="block">
            <div class="article-metadata">


                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="/post/{{post.id}}">{{ post.title }}</a></h2>
            <p id="cont" class="article-content">{{ post.content }}</p>
        </div>
    </article>
</div>


</div>
  